*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
venv
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.flaskenv
.project
.pydevproject
.DS_Store
.python-version
*.sqlite
package-lock.json
node_modules/
.vscode/
server/static/assets/
server/static/themes/