{% extends "kiko/base.html" %}
{% from "kiko/_macros.html" import render_pagination %}

{% block title %}UP1AND{% endblock %}

{% block content %}
<div class="content list">
{% for post in posts %}
  <div class="list-item">
    <h2 class="list-post-title">
      <a href="{{ url_for('main.post', id=post.id) }}">{{ post.title }}</a>
    </h2>
    <div class="list-post-date">
      <time>{{ post.created|strftime }}</time>
    </div>
  </div>
{% endfor %}
{{ render_pagination(pagination, 'main.index') }}
</div>
{% endblock %}
