{% extends "kiko/base.html" %}

{% block title %}{{ post.title }} - UP1AND{% endblock %}

{% block content %}
<div class="content post">
  <h1 class="post-title">{{ post.title }}</h1>
  <div class="post-meta">
    <time>{{ post.created|strftime }}</time>
    <span class="author">
    <a href="{{ url_for('main.index') }}">
        {{ post.author.nickname }}
    </a>
    </span>
  </div>
  {{ post.content|markdown|safe }}
  <div class="post-tags">
    {% for tag in post.metas %}
        <a href="{{ url_for('main.tags', slug=tag.slug) }}">{{ tag.name }}</a>
    {% endfor %}
  </div>
</div>
{% endblock %}
